<div class="jumbotron center header-full">
	<h1 class="cursive lime", id="main-title">Annapolis Lacrosse Club</h1>
	<%= render 'pages/welcome_buttons' unless user_signed_in? %>
</div>
<div class="jumbotron center">
	<div class="container">
		<h2>About Us</h2>
		<p>The Annapolis Lacrosse Club (ALC) was formed to bring together friends, new and old.  We enjoy being part of the Annapolis area’s rich lacrosse tradition.</p>

	 	<p>Formed in 2009 by a group of guys still holding on to the college lax dream, the club has evolved to be a family of Annapolitan players who work to build the lacrosse community in Anne Arundel County and beyond.  The ALC showcases some of the finest lacrosse talent from across the state of Maryland, including everything from Division III talent from the mid-2000s to recent Division I all-stars.  We are a diverse group, made up of coaches, professionals, party animals, fathers, and lax rats.</p>  

		<p>Supported by its many local sponsors, the Annapolis Lacross Club competes in the American Lacrosse League (ALL).  We are based in Annapolis and play our home games at the Key School’s beautiful waterfront fields, right next to the Hillsmere Shores community beach.  We are lucky enough to enjoy the support of our local community, friends, and families, and would like to thank you for all for your support.</p>
	</div>
</div>
<div class="jumbotron center">
	<h2>Support our Sponsors</h2>
</div>
<div class="jumbotron center">
	<h2>Follow Us</h2>
</div>
<div class="jumbotron center">
	<h2>Catch a game</h2>
</div>
<div class="jumbotron center">
	<h2>Meet the team</h2>
</div>
<div class="jumbotron center">
	<h2>Contact Us</h2>
</div>