<div class="container-fluid">
	<div class="row col-md-10 col-md-offset-1 center"><hr>
		<p>&copy; Annapols Lacrosse Club 2015</p>
		<p><%= link_to "Powered by Third Law Studios", "http://www.thirdlawstudios.com" %></p>
	</div>
</div>